#about{
    background-color: #57606f;
}
#about-me{
    color: white;
}
#profile{
    width: 20rem;
    height: 20rem;
    border: 1px solid white;
    border-radius: 100%;
    box-shadow: 3px 3px 5px gray;
}
#desc{
    color: whitesmoke;
    font-size: 1.25rem;
    text-align: justify;
}