.navbar{
    height: 5rem;
    position: sticky;
    top: 0;
}

#logo{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 1px 1px 1px grey;
    position: absolute;
    left: 3rem;
}

#name{
   font-family: "Bree Serif", serif;
   font-weight: 800;
   font-size: 1.5rem;

}
