/* Mobile Small  ---> 320px - 375px */
@media screen and (min-width: 320px) and (max-width: 374px) {

    .project-container{
        grid-template-columns: repeat(1,1fr);
    }

    .skill-container{
        grid-template-columns: repeat(1,1fr);
    }

    .contact a{
        opacity: 0;
    }
}

/* Mobile Medium  ---> 375px - 425px */
@media screen and (min-width: 375px) and (max-width: 424px) {
    .project-container{
        grid-template-columns: repeat(1,1fr);
    }

    .skill-container{
        grid-template-columns: repeat(1,1fr);
    }

    .contact a{
        opacity: 0;
    }
}

/* Mobile Large  ---> 425px - 768px */
@media screen and (min-width: 425px) and (max-width: 767px) {
    .project-container{
        grid-template-columns: repeat(1,1fr);
    }

    .skill-container{
        grid-template-columns: repeat(1,1fr);
    }

    .contact a{
        opacity: 0;
    }
}

/* Tablet ---> 768px - 1024px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .project-container{
        grid-template-columns: repeat(2,1fr);
    }

    .skill-container{
        grid-template-columns: repeat(2,1fr);
    }
}

/* Laptop ---> 1024px - 1440px */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
   
}

/* Laptop Large ---> more than 1440px */
@media screen and (min-width: 1440) and (max-width: 2000px) {

    .project-container{
        grid-template-columns: repeat(4,1fr);
    }

    .skill-container{
        grid-template-columns: repeat(4,1fr);
    }
}
